$radius: 20px;

#unit-frame-box.pill {
  .unit-frame {
    .primary {
      border-radius: $radius;
      overflow: hidden;

      &::before {
        border-radius: $radius;
      }

      .bar {
        border-radius: 0 $radius $radius 0;

        &::after {
          border-radius: 0 $radius $radius 0;
        }
      }
    }

    .secondary {
      margin: 0 15px;
      width: ($width - 30);
    }

    .name {
      padding-left: 12px;
    }
  }
}