#quest-tracker {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 300px;
  background: #00000044;
  padding: 5px;
  color: #ddd;
  text-shadow: 1px 1px 4px #333333cc;

  * {
    box-sizing: border-box;
  }

  .move-handle {
    position: absolute;
    top: -18px;
    left: 4px;
    color: #ffffff88;
  }

  .entity-link {
    background: #cccccc66;
  }

  .title {
    margin-top: 6px;
    margin-bottom: 0;
    cursor: pointer;
  }

  .description {
    font-size: 12px;
    font-style: italic;
    margin-top: 0;
  }
}