// Unit Frame Box
$count: 6;

// Unit Frame
$width: 120px;
$margin: 2px;
$size: 40px;
$sizeMargin: $size + $margin * 2;

// Unit Frame Secondary Bar
$mana: #386bb5;

// Unit Frame Text
$textColor: #fff;
$textFont: Roboto, Signika, sans-serif;
$textShadowColor: #000;
$textShadow: 1px 1px 4px $textShadowColor;

@import "animations";
@import "unit-frame-box/default";
@import "unit-frame-box/pill";
@import "unit-frame-box/thin";
@import "unit-frame-box/filters";
