// Unit Frame Box
$count: 6;

// Unit Frame
$width: 120px;
$margin: 2px;
$size: 40px;
$sizeMargin: $size + $margin * 2;

// Unit Frame Secondary Bar
$mana: #386bb5;

// Unit Frame Text
$textColor: #fff;
$textFont: Roboto, Signika, sans-serif;
$textShadowColor: #000;
$textShadow: 1px 1px 4px $textShadowColor;

$radius: 20px;

#unit-frame-box.pill {
  .unit-frame {
    .primary {
      border-radius: $radius;
      overflow: hidden;

      &::before {
        border-radius: $radius;
      }

      .bar {
        border-radius: 0 $radius $radius 0;

        &::after {
          border-radius: 0 $radius $radius 0;
        }
      }
    }

    .secondary {
      margin: 0 15px;
      width: ($width - 30);
    }

    .name {
      padding-left: 12px;
    }

    .primaryValue {
      padding-right: 10px;
    }
  }
}
